<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">Über uns</a></li>
        		<li><a href="/blog">Blog</a></li>
			<!--
			<li><a href="/gelaende">Unser Gelände</a></li>
        		-->
			<li><a href="/history">Historie</a></li>
        		<li><a href="/gallery">Galerie</a></li>
        		<!--<li><a href="/text/accelerator">Beschleuniger</a></li>-->
        		<li><a href="/projekt">Unser Projekt</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    {{ content }}
    
    </div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:fahrendeteilchen@gmx.de">email</a></li>
        		<li><a href="https://github.com/fahrendeteilchen">github.com/fahrendeteilchen</a></li>
			</ul>
		</footer>
	</body>
</html>
